<div class="couple-container">
  <!-- <div class="bg-img"></div> -->
  <div class="flex-row couple-img-container">
    <div class="img-container groom"></div>
    <div class="img-container bride"></div>

  </div>
  <div class="timeline-container blur-bg">
    <ul class="timeline">
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            
            
            <h4 class="timeline-title" i18n>When we first met</h4>
            <p class="timeline-date"><small class="text-muted"><i class="glyphicon glyphicon-time"></i>July 2023</small></p>
            <!-- 相遇、相识、相知 -->
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            
            <h4 class="timeline-title" i18n>When Jake proposed</h4>
            <p class="timeline-date"><small class="text-muted"><i class="glyphicon glyphicon-time"></i>October 2023</small></p>
            <!-- 相爱、相恋 -->
          </div>
        </div>
      </li>
      <!-- <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            
            <h4 class="timeline-title" i18n>When we decided to spend our lives together</h4>
            <p class="timeline-date"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2022 </small></p>
            携手共度余生 
          </div>
        </div>
      </li> -->
      <li >
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title" i18n>SLC Wedding</h4>
            <!-- 求婚< -->
            <p class="timeline-date"><small class="text-muted"><i class="glyphicon glyphicon-time"></i>February 2024</small></p>
          </div>
        </div>
      </li>
  </ul>
  </div>
  

</div>