<div class="flex-column">   
  
  

    <!-- <div class="banner-image"></div> -->
    <div class="diamond flex-row">
      <div class="flex-column txt-container">
        <div class="title">
          <h1 i18n class="m-0">The Wedding</h1>
        </div>
        <div class="flex-column">
          <h3 i18n>Jake & MJ</h3>
          <!-- 李承峰 & 杨依琳 -->
          <h5>Reception on the 2nd of February 2024</h5>
          <!-- <h5>We Are Getting Married ....</h5> -->
        </div>
      </div>
      
    </div>
    <div class="subtext" >
      <p i18n>As we join in marriage,</p>
      <p i18n>We're so glad to have the pleasure of your company</p>
      <p i18n></p>
    </div>
    <!-- 人的一生有三万多天<br>很开心这一天&nbsp;&nbsp;&nbsp;&nbsp;你专为我们而来 -->
</div>