<div class="link-container">
    <h2>Help us achieve our wishlist!</h2>
    <ul>
        <li><a href="https://www.amazon.com/wedding/registry/IBVPWF8HNLXS">Amazon Registry</a></li>
    </ul>
</div>

<div class="link-container">
    <h2>Here is where you would upload photos and videos of anything</h2>
    <ul>
        <li><a href="https://weduploader.com/upload/v0zNe57BKZr75aXx">Guest Video Upload</a></li>
    </ul>
</div>

<div class="link-container">
    <h2>More Photos</h2>
    <ul>
        <li><a href="https://example.com/link1">Photo Gallery Link</a></li>
    </ul>
</div>

<div class="link-container">
    <h2>PayPal Donation</h2>
    <ul>
        <li><a href="https://www.paypal.com/donate/?business=2L2SVPSQPKAFW&no_recurring=0&item_name=Support+our+dream+wedding%2C+create+lasting+memories%21&currency_code=USD">Paypal</a></li>
    </ul>
</div>


