<div class="link-container">
    <h2>🎁 Check out our Amazon Registry for items that tickle our fancy.</h2>
    <ul>
        <li><a href="https://www.amazon.com/wedding/registry/IBVPWF8HNLXS">Amazon Registry</a></li>
    </ul>
</div>

<div class="link-container">
    <h2>📷 Share your cherished moments by uploading photos and videos on our special day!</h2>
    <ul>
        <li><a href="https://weduploader.com/upload/v0zNe57BKZr75aXx">Video Upload</a></li>
    </ul>
</div>

<div class="link-container">
    <h2>📸 Explore even more memories in our Photo Gallery.</h2>
    <ul>
        <li><a href="https://example.com/link1">Photo Gallery</a></li>
    </ul>
</div>

<div class="link-container">
    <h2>💕 Feeling extra generous? You can contribute via PayPal to help us make our dreams come true!</h2>
    <ul>
        <li><a href="https://www.paypal.com/donate/?business=2L2SVPSQPKAFW&no_recurring=0&item_name=Support+our+dream+wedding%2C+create+lasting+memories%21&currency_code=USD">Donations</a></li>
    </ul>
</div>
