<div class="wedding-container">
    <!-- <h2 class="s-title text--colored"> Venues</h2> -->
    <div class="wedding-date-container">
      <div class="venues__ceremony">
        <div class="ceremony__card venues__card border--colored ">
          <div class="venues__card-head text--colored"> 
            <h3 class="venues__card-title text--colored" i18n> Date</h3>
            <!-- 时间 -->
          </div>
     

          <div class="venues__card-info">
            <div class="venues__card-block"><span class="venues__card-label" i18n>2, February 2024</span>
              <!-- "喜粤酒家":"麒麟阁素食餐厅" -->
            </div>
            <div class="venues__card-block"><span class="venues__card-data">6:30 p.m.</span></div>
          </div>
          <!-- <a class="venues__card-link" href="#">See on map</a> -->
        </div>
        <div class="address__map-container--left address__map">
          <div class="address__map--ceremony map glassmorphism" id="address__map--ceremony">

            <div class="card-body" id="calendar-card">
              <div class="month">      
                <div class="year-txt">
                  2024
                </div>
                <div>
                  <span>February</span>
                </div>
              </div>
              
              <ul class="weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thur</li>
                <li>Fri</li>
                <li>Sat</li>
              </ul>
              
              <ul class="days">
                <li></li>  
                <li></li>  
                <li></li>  
                <li></li>
                <li>1</li>
                <li><i [ngClass]="isKL ? 'hide' : 'show'" class="fa fa-heart"></i><div  [ngClass]="isKL ? '' : 'active'"><span>2</span></div></li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>10</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li></li>  
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="wedding-venue-container">
      <div class="venues__reception">
        <div class="reception__card venues__card border--colored ">
          <div class="venues__card-head text--colored">
            <h3 class="venues__card-title text--colored" i18n>Venue</h3>
            <!-- 地点 -->
          </div>
          <div class="venues__card-info">
            <div class="venues__card-block"><span class="venues__card-label" i18n>Dai-Ichi Japanese Ward</span>
              <!-- "喜粤酒家":"麒麟阁素食餐厅" -->
            </div>
            <div class="venues__card-block">
              <a href="https://www.google.com/maps?q=2005+S+900+E,+Salt+Lake+City,+UT+84105" target="_blank" rel="noopener noreferrer">
                  <span class="venues__card-data">2005 S 900 E, Salt Lake City, UT 84105</span>
              </a>
          </div>
          
          </div>
          <!-- <a class="venues__card-link" href="#">See on map</a> -->
        </div>
        <div class="address__map-container--right address__map ">
          <div class="address__map--reception map glassmorphism" id="address__map--reception" style="">
            
        <iframe [ngClass]="isKL ? 'hide' : 'show'" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96755.8648237736!2d-111.8653901797223!3d40.72636400873647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528aa4495bbf1f%3A0xdf9f39145ea501b3!2s2005%20S%20900%20E%2C%20Salt%20Lake%20City%2C%20UT%2084105!5e0!3m2!1sen!2sus!4v1696537011037!5m2!1sen!2sus"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>