<div class="biography">
    <div class="profile-picture">
    </div>
    <div class="bio-content">
        <h1>Marjorie Itabashi</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
        </p>
    </div>
</div>

<br><br>

<div class="biography">
    <div class="profile-picture">
    </div>
    <div class="bio-content">
        <h1>Jake Loke</h1>
        <p>
            Originating from the vibrant and culturally diverse Malaysia, I embarked on a life-changing journey to the United States in 2014. This journey has been a testament to my pursuit of knowledge, self-improvement, and a passion for diverse interests.

My educational path led me through distinguished institutions, culminating in a well-rounded academic experience. I proudly completed my studies at Brigham Young University-Idaho (BYU-I), where I cultivated a solid foundation of knowledge. My thirst for learning led me to Utah Valley University (UVU) and the University of Utah (U of U), where I further honed my academic skills and expanded my horizons.

Technology has always been a source of fascination for me. Whether I'm delving into the intricacies of artificial intelligence or staying up to date with the latest technological advancements, I find immense satisfaction in staying at the forefront of innovation. This passion has not only nurtured my analytical thinking but has also driven me to seek innovative solutions to complex problems.

Beyond the realm of academics and technology, I am deeply passionate about basketball. The basketball court serves as both a sanctuary and a battleground, where I channel my competitive spirit and dedication to teamwork. Additionally, my commitment to self-improvement extends to the gym, where I continuously strive to better myself physically and mentally.

In my quest for self-improvement, I've also embraced personal development as a way of life. The pursuit of knowledge and growth has become my guiding philosophy, encouraging me to evolve and contribute positively to the world around me.

In summary, my journey from Malaysia to the United States has been a transformative expedition, marked by a commitment to education, a deep passion for technology and artificial intelligence, a love for basketball, an analytical mindset, dedication to physical fitness, and an unwavering pursuit of self-improvement. As I navigate through life with enthusiasm and a thirst for self-discovery, I eagerly anticipate the exciting adventures and opportunities that await me in the future with Marjorie.
        </p>
    </div>
</div>



